In [97]:
import numpy as np
import pandas as pd

In [36]:
data = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/1月.txt",sep=" ",encoding='ANSI')

In [37]:
data.經度 = data.經度.round(2)
data.緯度 = data.緯度.round(2)

In [38]:
data

,經度,緯度,海拔高度,順時速度,方向,時間,上傳時間,date,hms,date_upd,hms_upd
0,121.19,24.57,2009.207276,-1.000000,-1.000000,1/1/2020 00:00:07+00,17/5/2020 07:19:11.815973+00,20200101,7,20200517,71911
1,121.30,24.41,2183.370937,0.490000,112.851562,1/1/2020 00:00:11+00,5/1/2020 10:43:54.647152+00,20200101,11,20200105,104354
2,120.76,22.41,1489.922836,0.611052,24.681915,1/1/2020 00:00:12+00,1/1/2020 11:52:47.138911+00,20200101,12,20200101,115247
3,121.28,24.05,3012.131743,0.430000,271.757812,1/1/2020 00:00:12+00,1/1/2020 10:23:19.968501+00,20200101,12,20200101,102319
4,120.95,23.47,3663.215902,0.000000,149.789088,1/1/2020 00:00:13+00,23/2/2020 07:37:24.760081+00,20200101,13,20200223,73724
...,...,...,...,...,...,...,...,...,...,...,...
520824,120.99,23.28,3532.884786,0.000000,2.619718,31/1/2020 23:59:46+00,7/2/2020 00:16:06.737396+00,20200131,235946,20200207,1606
520825,121.74,24.83,105.483792,1.318382,107.976821,31/1/2020 23:59:47+00,1/2/2020 12:33:03.235499+00,20200131,235947,20200201,123303
520826,120.80,24.17,789.681541,0.406081,69.325484,31/1/2020 23:59:52+00,1/2/2020 03:21:01.683183+00,20200131,235952,20200201,32101
520827,120.97,24.17,877.708205,0.670000,51.679688,31/1/2020 23:59:53+00,1/2/2020 06:53:28.189492+00,20200131,235953,20200201,65328
520828,121.75,24.83,104.327903,0.991682,91.092730,31/1/2020 23:59:55+00,1/2/2020 12:33:03.255412+00,20200131,235955,20200201,123303

In [39]:
e = (data.hms / 10000).apply(np.floor) * 3600
r = ((data.hms / 10000 - (data.hms / 10000).apply(np.floor) ) * 100) .apply(np.floor) * 60
t  = (data.hms / 100 - (data.hms / 100) .apply(np.floor)) * 100

v = e + r + t
v

0             7.0
1            11.0
2            12.0
3            12.0
4            13.0
           ...
520824    86386.0
520825    86387.0
520826    86392.0
520827    86393.0
520828    86395.0
Name: hms, Length: 520829, dtype: float64

In [10]:
data.hms = v

In [40]:
data

,經度,緯度,海拔高度,順時速度,方向,時間,上傳時間,date,hms,date_upd,hms_upd
0,121.19,24.57,2009.207276,-1.000000,-1.000000,1/1/2020 00:00:07+00,17/5/2020 07:19:11.815973+00,20200101,7,20200517,71911
1,121.30,24.41,2183.370937,0.490000,112.851562,1/1/2020 00:00:11+00,5/1/2020 10:43:54.647152+00,20200101,11,20200105,104354
2,120.76,22.41,1489.922836,0.611052,24.681915,1/1/2020 00:00:12+00,1/1/2020 11:52:47.138911+00,20200101,12,20200101,115247
3,121.28,24.05,3012.131743,0.430000,271.757812,1/1/2020 00:00:12+00,1/1/2020 10:23:19.968501+00,20200101,12,20200101,102319
4,120.95,23.47,3663.215902,0.000000,149.789088,1/1/2020 00:00:13+00,23/2/2020 07:37:24.760081+00,20200101,13,20200223,73724
...,...,...,...,...,...,...,...,...,...,...,...
520824,120.99,23.28,3532.884786,0.000000,2.619718,31/1/2020 23:59:46+00,7/2/2020 00:16:06.737396+00,20200131,235946,20200207,1606
520825,121.74,24.83,105.483792,1.318382,107.976821,31/1/2020 23:59:47+00,1/2/2020 12:33:03.235499+00,20200131,235947,20200201,123303
520826,120.80,24.17,789.681541,0.406081,69.325484,31/1/2020 23:59:52+00,1/2/2020 03:21:01.683183+00,20200131,235952,20200201,32101
520827,120.97,24.17,877.708205,0.670000,51.679688,31/1/2020 23:59:53+00,1/2/2020 06:53:28.189492+00,20200131,235953,20200201,65328
520828,121.75,24.83,104.327903,0.991682,91.092730,31/1/2020 23:59:55+00,1/2/2020 12:33:03.255412+00,20200131,235955,20200201,123303

In [41]:
data.groupby(["date_upd","hms_upd"])

In [42]:
print(data.date_upd.value_counts())

20200111    20965
20200524    17589
20200105    16589
20200118    16188
20200104    15107
            ...
20200520        2
20200308        2
20200826        2
20200412        1
20200321        1
Name: date_upd, Length: 178, dtype: int64

In [43]:
data.groupby(["date_upd","hms_upd"]).size()

date_upd  hms_upd
20200101  13959      10
          14000      25
          14001      24
          14002      30
          14003      28
                     ..
20210509  180627     18
          180628     19
          180629     21
          180630     12
          180631      1
Length: 23679, dtype: int64

In [44]:
data.date_upd.unique()

array([20200517, 20200105, 20200101, 20200223, 20200424, 20200822,
       20200116, 20200411, 20200102, 20201120, 20200213, 20200113,
       20200225, 20210102, 20200904, 20200106, 20200104, 20200905,
       20200114, 20200201, 20200229, 20200118, 20200807, 20200123,
       20201103, 20200823, 20200602, 20201021, 20200523, 20200103,
       20210122, 20200108, 20200111, 20201015, 20200814, 20200222,
       20200811, 20200520, 20200319, 20201017, 20201113, 20200220,
       20200506, 20200723, 20201124, 20201226, 20200110, 20200718,
       20200221, 20200306, 20200515, 20200218, 20200120, 20200430,
       20200707, 20200224, 20200107, 20201008, 20200418, 20200203,
       20201214, 20210422, 20200301, 20200128, 20200109, 20200329,
       20201126, 20200112, 20201111, 20200507, 20200714, 20200828,
       20210216, 20200808, 20200731, 20201010, 20200405, 20200119,
       20210206, 20200531, 20200210, 20200328, 20200129, 20200219,
       20200422, 20200409, 20210106, 20200324, 20201004, 20201110,
       20200316, 20210223, 20200204, 20210507, 20200206, 20200205,
       20200202, 20200410, 20210115, 20200216, 20200115, 20200207,
       20200614, 20200412, 20200522, 20200803, 20200127, 20200524,
       20200415, 20200728, 20200403, 20200715, 20200722, 20201215,
       20200215, 20200830, 20200117, 20200725, 20200908, 20200526,
       20200929, 20200125, 20200826, 20200923, 20200428, 20200309,
       20200529, 20200212, 20200211, 20200131, 20200404, 20201123,
       20200121, 20200511, 20210314, 20201101, 20210409, 20200208,
       20210408, 20210425, 20200130, 20210313, 20200122, 20200419,
       20210509, 20201024, 20210417, 20210131, 20200820, 20201027,
       20200303, 20210208, 20200420, 20201115, 20200805, 20200308,
       20200124, 20200704, 20201028, 20210205, 20200321, 20200510,
       20200314, 20200227, 20200209, 20200326, 20200512, 20210326,
       20200315, 20200413, 20200726, 20200322, 20200214, 20210228,
       20201231, 20201109, 20200509, 20200925], dtype=int64)

In [45]:
b = data.groupby("date_upd").get_group(20200101)
b

,經度,緯度,海拔高度,順時速度,方向,時間,上傳時間,date,hms,date_upd,hms_upd
2,120.76,22.41,1489.922836,0.611052,24.681915,1/1/2020 00:00:12+00,1/1/2020 11:52:47.138911+00,20200101,12,20200101,115247
3,121.28,24.05,3012.131743,0.430000,271.757812,1/1/2020 00:00:12+00,1/1/2020 10:23:19.968501+00,20200101,12,20200101,102319
6,121.28,24.05,3011.925690,0.700000,261.562500,1/1/2020 00:00:15+00,1/1/2020 10:23:20.013362+00,20200101,15,20200101,102320
7,121.28,24.18,3420.137303,0.493868,272.590572,1/1/2020 00:00:16+00,1/1/2020 07:03:11.397369+00,20200101,16,20200101,70311
13,120.76,22.41,1484.663330,0.385346,2.281598,1/1/2020 00:00:27+00,1/1/2020 11:52:47.150719+00,20200101,27,20200101,115247
...,...,...,...,...,...,...,...,...,...,...,...
39660,120.94,24.17,701.624291,0.228298,100.886764,1/1/2020 09:38:13+00,1/1/2020 09:42:44.392247+00,20200101,93813,20200101,94244
39663,120.94,24.17,696.878016,0.350004,101.989464,1/1/2020 09:38:42+00,1/1/2020 09:42:44.403566+00,20200101,93842,20200101,94244
39666,120.94,24.17,696.375406,0.778755,100.244945,1/1/2020 09:38:58+00,1/1/2020 09:42:44.41447+00,20200101,93858,20200101,94244
39669,120.94,24.17,694.453021,0.868819,117.360996,1/1/2020 09:39:10+00,1/1/2020 09:42:44.445691+00,20200101,93910,20200101,94244
39671,120.94,24.17,691.279021,0.502189,79.814968,1/1/2020 09:39:28+00,1/1/2020 09:42:44.459323+00,20200101,93928,20200101,94244

In [46]:
data.groupby("date_upd").get_group(20200115)[["經度","緯度"]]

            經度     緯度
216597  120.51  23.34
254972  121.81  25.11
254973  121.81  25.11
254976  121.81  25.11
254979  121.81  25.11
...        ...    ...
295257  121.01  24.21
295258  121.01  24.21
295259  121.01  24.21
295260  121.01  24.21
295261  121.01  24.21

[3466 rows x 2 columns]

In [47]:
a=data.groupby("date_upd").get_group(20200101)[["經度","緯度"]].groupby(["經度","緯度"])
a.first()

Empty DataFrame
Columns: []
Index: [(114.0, 22.47), (114.01, 22.45), (114.01, 22.46), (114.01, 22.47), (114.02, 22.44), (114.02, 22.45), (114.03, 22.44), (120.49, 31.26), (120.49, 31.27), (120.49, 31.28), (120.49, 31.29), (120.49, 31.3), (120.5, 31.26), (120.52, 24.07), (120.52, 24.08), (120.53, 24.07), (120.53, 24.08), (120.53, 24.09), (120.54, 24.08), (120.54, 24.09), (120.54, 24.1), (120.55, 24.1), (120.55, 24.11), (120.56, 24.11), (120.57, 24.1), (120.57, 24.11), (120.58, 24.1), (120.59, 24.1), (120.6, 23.53), (120.6, 23.54), (120.6, 23.55), (120.6, 24.09), (120.6, 24.1), (120.61, 23.54), (120.61, 23.55), (120.61, 24.08), (120.61, 24.09), (120.62, 24.08), (120.63, 24.07), (120.63, 24.08), (120.64, 24.07), (120.65, 24.07), (120.66, 24.06), (120.66, 24.07), (120.67, 24.02), (120.67, 24.03), (120.67, 24.04), (120.67, 24.06), (120.68, 24.02), (120.68, 24.04), (120.68, 24.05), (120.68, 24.06), (120.69, 24.01), (120.69, 24.02), (120.7, 24.01), (120.71, 24.01), (120.72, 24.01), (120.73, 24.0), (120.73, 24.01), (120.73, 24.36), (120.73, 24.37), (120.73, 24.38), (120.74, 24.0), (120.74, 24.36), (120.74, 24.37), (120.74, 24.38), (120.75, 23.99), (120.75, 24.0), (120.76, 22.41), (120.76, 23.98), (120.76, 23.99), (120.77, 22.41), (120.77, 23.98), (120.78, 22.4), (120.78, 22.41), (120.78, 23.98), (120.78, 23.99), (120.79, 22.39), (120.79, 22.4), (120.79, 23.99), (120.8, 22.38), (120.8, 22.39), (120.8, 23.99), (120.8, 24.0), (120.81, 22.38), (120.81, 24.0), (120.81, 24.01), (120.82, 24.01), (120.83, 22.37), (120.83, 22.38), (120.84, 22.37), (120.84, 22.38), (120.84, 24.0), (120.85, 22.37), (120.85, 22.38), (120.85, 23.99), (120.85, 24.0), (120.86, 23.98), (120.86, 23.99), (120.87, 23.98), ...]

[203 rows x 0 columns]

In [48]:
a.size().index[0]

(114.0, 22.47)

In [49]:
ANS = np.zeros((len(a),2))
for i in range(len(a)) :
    ANS[i] = (a.size().index[i])

In [50]:
ANS

array([[114.  ,  22.47],
       [114.01,  22.45],
       [114.01,  22.46],
       [114.01,  22.47],
       [114.02,  22.44],
       [114.02,  22.45],
       [114.03,  22.44],
       [120.49,  31.26],
       [120.49,  31.27],
       [120.49,  31.28],
       [120.49,  31.29],
       [120.49,  31.3 ],
       [120.5 ,  31.26],
       [120.52,  24.07],
       [120.52,  24.08],
       [120.53,  24.07],
       [120.53,  24.08],
       [120.53,  24.09],
       [120.54,  24.08],
       [120.54,  24.09],
       [120.54,  24.1 ],
       [120.55,  24.1 ],
       [120.55,  24.11],
       [120.56,  24.11],
       [120.57,  24.1 ],
       [120.57,  24.11],
       [120.58,  24.1 ],
       [120.59,  24.1 ],
       [120.6 ,  23.53],
       [120.6 ,  23.54],
       [120.6 ,  23.55],
       [120.6 ,  24.09],
       [120.6 ,  24.1 ],
       [120.61,  23.54],
       [120.61,  23.55],
       [120.61,  24.08],
       [120.61,  24.09],
       [120.62,  24.08],
       [120.63,  24.07],
       [120.63,  24.08],
       [120.64,  24.07],
       [120.65,  24.07],
       [120.66,  24.06],
       [120.66,  24.07],
       [120.67,  24.02],
       [120.67,  24.03],
       [120.67,  24.04],
       [120.67,  24.06],
       [120.68,  24.02],
       [120.68,  24.04],
       [120.68,  24.05],
       [120.68,  24.06],
       [120.69,  24.01],
       [120.69,  24.02],
       [120.7 ,  24.01],
       [120.71,  24.01],
       [120.72,  24.01],
       [120.73,  24.  ],
       [120.73,  24.01],
       [120.73,  24.36],
       [120.73,  24.37],
       [120.73,  24.38],
       [120.74,  24.  ],
       [120.74,  24.36],
       [120.74,  24.37],
       [120.74,  24.38],
       [120.75,  23.99],
       [120.75,  24.  ],
       [120.76,  22.41],
       [120.76,  23.98],
       [120.76,  23.99],
       [120.77,  22.41],
       [120.77,  23.98],
       [120.78,  22.4 ],
       [120.78,  22.41],
       [120.78,  23.98],
       [120.78,  23.99],
       [120.79,  22.39],
       [120.79,  22.4 ],
       [120.79,  23.99],
       [120.8 ,  22.38],
       [120.8 ,  22.39],
       [120.8 ,  23.99],
       [120.8 ,  24.  ],
       [120.81,  22.38],
       [120.81,  24.  ],
       [120.81,  24.01],
       [120.82,  24.01],
       [120.83,  22.37],
       [120.83,  22.38],
       [120.84,  22.37],
       [120.84,  22.38],
       [120.84,  24.  ],
       [120.85,  22.37],
       [120.85,  22.38],
       [120.85,  23.99],
       [120.85,  24.  ],
       [120.86,  23.98],
       [120.86,  23.99],
       [120.87,  23.98],
       [120.88,  23.98],
       [120.89,  23.98],
       [120.9 ,  23.98],
       [120.91,  23.98],
       [120.92,  23.98],
       [120.93,  23.98],
       [120.93,  23.99],
       [120.94,  23.99],
       [120.94,  24.17],
       [120.94,  24.18],
       [120.95,  23.99],
       [120.95,  24.18],
       [120.96,  23.99],
       [120.96,  24.18],
       [120.96,  24.19],
       [120.97,  23.99],
       [120.98,  23.98],
       [120.98,  23.99],
       [120.98,  24.79],
       [120.99,  23.98],
       [120.99,  24.79],
       [120.99,  24.8 ],
       [121.  ,  23.98],
       [121.01,  23.98],
       [121.02,  23.98],
       [121.02,  23.99],
       [121.03,  23.99],
       [121.04,  23.99],
       [121.04,  24.  ],
       [121.05,  24.  ],
       [121.06,  24.  ],
       [121.06,  24.01],
       [121.07,  24.  ],
       [121.08,  24.  ],
       [121.08,  24.74],
       [121.09,  24.  ],
       [121.09,  24.01],
       [121.1 ,  24.01],
       [121.11,  24.01],
       [121.12,  24.01],
       [121.12,  24.02],
       [121.13,  24.01],
       [121.13,  24.02],
       [121.14,  24.02],
       [121.14,  24.03],
       [121.14,  24.04],
       [121.15,  24.03],
       [121.15,  24.04],
       [121.16,  24.04],
       [121.16,  24.05],
       [121.16,  24.06],
       [121.17,  24.06],
       [121.17,  24.07],
       [121.17,  24.08],
       [121.17,  24.09],
       [121.18,  24.09],
       [121.18,  24.1 ],
       [121.19,  24.1 ],
       [121.2 ,  24.1 ],
       [121.2 ,  24.11],
       [121.21,  24.11],
       [121.22,  24.11],
       [121.22,  24.12],
       [121.23,  24.11],
       [121.23,  24.12],
       [121.24,  24.12],
       [121.25,  24.12],
       [121.26,  24.12],
       [121.27,  24.12],
       [121.27,  24.13],
       [121.27,  24.14],
       [121.28,  24.05],
       [121.28,  24.14],
       [121.28,  24.15],
       [121.28,  24.16],
       [121.28,  24.18],
       [121.29,  24.16],
       [121.29,  24.17],
       [121.29,  24.18],
       [121.51,  25.13],
       [121.52,  25.12],
       [121.52,  25.13],
       [121.55,  25.1 ],
       [121.55,  25.17],
       [121.55,  25.18],
       [121.56,  25.12],
       [121.56,  25.16],
       [121.56,  25.17],
       [121.57,  25.03],
       [121.57,  25.08],
       [121.57,  25.09],
       [121.57,  25.1 ],
       [121.57,  25.12],
       [121.57,  25.13],
       [121.58,  25.02],
       [121.58,  25.03],
       [121.58,  25.13],
       [121.58,  25.14],
       [121.59,  25.02],
       [121.59,  25.03],
       [121.59,  25.13],
       [121.6 ,  25.03],
       [121.61,  25.03]])

In [51]:
b.經度==ANS[0,0]

2        False
3        False
6        False
7        False
13       False
         ...
39660    False
39663    False
39666    False
39669    False
39671    False
Name: 經度, Length: 12188, dtype: bool

In [52]:
b

,經度,緯度,海拔高度,順時速度,方向,時間,上傳時間,date,hms,date_upd,hms_upd
2,120.76,22.41,1489.922836,0.611052,24.681915,1/1/2020 00:00:12+00,1/1/2020 11:52:47.138911+00,20200101,12,20200101,115247
3,121.28,24.05,3012.131743,0.430000,271.757812,1/1/2020 00:00:12+00,1/1/2020 10:23:19.968501+00,20200101,12,20200101,102319
6,121.28,24.05,3011.925690,0.700000,261.562500,1/1/2020 00:00:15+00,1/1/2020 10:23:20.013362+00,20200101,15,20200101,102320
7,121.28,24.18,3420.137303,0.493868,272.590572,1/1/2020 00:00:16+00,1/1/2020 07:03:11.397369+00,20200101,16,20200101,70311
13,120.76,22.41,1484.663330,0.385346,2.281598,1/1/2020 00:00:27+00,1/1/2020 11:52:47.150719+00,20200101,27,20200101,115247
...,...,...,...,...,...,...,...,...,...,...,...
39660,120.94,24.17,701.624291,0.228298,100.886764,1/1/2020 09:38:13+00,1/1/2020 09:42:44.392247+00,20200101,93813,20200101,94244
39663,120.94,24.17,696.878016,0.350004,101.989464,1/1/2020 09:38:42+00,1/1/2020 09:42:44.403566+00,20200101,93842,20200101,94244
39666,120.94,24.17,696.375406,0.778755,100.244945,1/1/2020 09:38:58+00,1/1/2020 09:42:44.41447+00,20200101,93858,20200101,94244
39669,120.94,24.17,694.453021,0.868819,117.360996,1/1/2020 09:39:10+00,1/1/2020 09:42:44.445691+00,20200101,93910,20200101,94244
39671,120.94,24.17,691.279021,0.502189,79.814968,1/1/2020 09:39:28+00,1/1/2020 09:42:44.459323+00,20200101,93928,20200101,94244

### 處理時長

In [53]:
r = (b.hms / 10000).apply(np.floor)
r

2        0.0
3        0.0
6        0.0
7        0.0
13       0.0
        ...
39660    9.0
39663    9.0
39666    9.0
39669    9.0
39671    9.0
Name: hms, Length: 12188, dtype: float64

In [54]:
t = ((b.hms / 10000 - r) * 100) .apply(np.floor)
t

2         0.0
3         0.0
6         0.0
7         0.0
13        0.0
         ...
39660    38.0
39663    38.0
39666    38.0
39669    39.0
39671    39.0
Name: hms, Length: 12188, dtype: float64

In [55]:
(b.hms / 100 - (b.hms / 100) .apply(np.floor)) *100

2        12.0
3        12.0
6        15.0
7        16.0
13       27.0
         ...
39660    13.0
39663    42.0
39666    58.0
39669    10.0
39671    28.0
Name: hms, Length: 12188, dtype: float64

In [56]:
(b.經度==ANS[0,0])&(b.緯度==ANS[0,1])

2        False
3        False
6        False
7        False
13       False
         ...
39660    False
39663    False
39666    False
39669    False
39671    False
Length: 12188, dtype: bool

In [57]:
g = b[(b.經度==ANS[0,0])&(b.緯度==ANS[0,1])]
g

,經度,緯度,海拔高度,順時速度,方向,時間,上傳時間,date,hms,date_upd,hms_upd
1067,114.0,22.47,8.307018,0.092213,77.076296,1/1/2020 00:39:53+00,1/1/2020 01:39:59.442651+00,20200101,3953,20200101,13959
1069,114.0,22.47,8.307018,0.092213,77.076296,1/1/2020 00:39:53+00,1/1/2020 01:39:59.399527+00,20200101,3953,20200101,13959
1080,114.0,22.47,7.197193,0.000000,343.513471,1/1/2020 00:40:17+00,1/1/2020 01:40:00.435152+00,20200101,4017,20200101,14000
1087,114.0,22.47,8.539677,0.783299,207.424930,1/1/2020 00:40:30+00,1/1/2020 01:40:00.553529+00,20200101,4030,20200101,14000
1088,114.0,22.47,8.539677,0.783299,207.424930,1/1/2020 00:40:30+00,1/1/2020 01:40:00.492539+00,20200101,4030,20200101,14000
...,...,...,...,...,...,...,...,...,...,...,...
1623,114.0,22.47,8.883669,0.744484,126.738444,1/1/2020 00:53:22+00,1/1/2020 01:40:04.791351+00,20200101,5322,20200101,14004
1628,114.0,22.47,9.270399,0.000000,176.711980,1/1/2020 00:53:30+00,1/1/2020 01:40:04.814176+00,20200101,5330,20200101,14004
1633,114.0,22.47,8.662783,0.000000,176.712075,1/1/2020 00:53:38+00,1/1/2020 01:40:04.879175+00,20200101,5338,20200101,14004
1636,114.0,22.47,8.489114,0.000000,108.507958,1/1/2020 00:53:42+00,1/1/2020 01:40:04.927918+00,20200101,5342,20200101,14004
1638,114.0,22.47,8.579653,0.695666,133.628190,1/1/2020 00:53:47+00,1/1/2020 01:40:05.026564+00,20200101,5347,20200101,14005

In [58]:
g = g.iloc[:,[0,1,2,3,7,8,10]]
g

         經度     緯度      海拔高度      順時速度      date   hms  hms_upd
1067  114.0  22.47  8.307018  0.092213  20200101  3953    13959
1069  114.0  22.47  8.307018  0.092213  20200101  3953    13959
1080  114.0  22.47  7.197193  0.000000  20200101  4017    14000
1087  114.0  22.47  8.539677  0.783299  20200101  4030    14000
1088  114.0  22.47  8.539677  0.783299  20200101  4030    14000
...     ...    ...       ...       ...       ...   ...      ...
1623  114.0  22.47  8.883669  0.744484  20200101  5322    14004
1628  114.0  22.47  9.270399  0.000000  20200101  5330    14004
1633  114.0  22.47  8.662783  0.000000  20200101  5338    14004
1636  114.0  22.47  8.489114  0.000000  20200101  5342    14004
1638  114.0  22.47  8.579653  0.695666  20200101  5347    14005

[126 rows x 7 columns]

In [61]:
h =np.zeros(8)

In [62]:
#1 經度
h[0] = np.mean(g.經度)

In [63]:
#2 緯度
h[1] = np.mean(g.緯度)

In [64]:
#3 海拔高度
h[2] = np.mean(g.海拔高度)

In [65]:
#4 順時速度
h[3] = np.mean(g.順時速度)

In [66]:
#5 定位日期
h[4] = np.mean(g.date)

In [67]:
#6 爬山時長

h[5] = np.max(g.hms) - np.min(g.hms) 
if float(h[5]) > 57600 :
    h[5] = 86400 -  float(h[5])

In [68]:
#7 上傳時間是否相近 1是 0否
h[6] = (np.max(g.hms_upd) - np.min(g.hms_upd)) < 10000

In [69]:
#8 是否同一天攀爬 1是 0否
h[7] = (np.max(g.date) - np.min(g.date)) == 0

In [70]:
h

array([1.14000000e+02, 2.24700000e+01, 8.64638821e+00, 1.34606318e+00,
       2.02001010e+07, 1.39400000e+03, 1.00000000e+00, 1.00000000e+00])

In [71]:
def new_data (data) :
    
    
    #資料前處理
    
    data.經度 = data.經度.round(2)
    data.緯度 = data.緯度.round(2)
    
    e = (data.hms / 10000).apply(np.floor) * 3600
    r = ((data.hms / 10000 - (data.hms / 10000).apply(np.floor) ) * 100) .apply(np.floor) * 60
    t  = (data.hms / 100 - (data.hms / 100) .apply(np.floor)) * 100

    v = e + r + t
    data.hms = v
    
    
    
    # 跑x月的每日
    
    OK =  pd.DataFrame([])
    for i in data.date_upd.unique() :
        b = data.groupby("date_upd").get_group(i)
        a = data.groupby("date_upd").get_group(i)[["經度","緯度"]].groupby(["經度","緯度"])
        
        
        # 找出經緯度去分人
        ANS = np.zeros((len(a),2))
        for j in range(len(a)) :
            ANS[j] = (a.size().index[j])
        
        HP =  pd.DataFrame([])
        
        for k in range(len(ANS)-1) :
            g = b[(b.經度==ANS[k,0])&(b.緯度==ANS[k,1])]
            g = g.iloc[:,[0,1,2,3,7,8,10]]
            
            h = np.zeros(8)
            
            h[0] = np.mean(g.經度)
            h[1] = np.mean(g.緯度)
            h[2] = np.mean(g.海拔高度)
            h[3] = np.mean(g.順時速度)
            h[4] = np.mean(g.date)
        
            h[5] = np.max(g.hms) - np.min(g.hms) 
            if float(h[5]) > 57600 :
                h[5] = 86400 -  float(h[5])
                
            h[6] = (np.max(g.hms_upd) - np.min(g.hms_upd)) < 10000
            h[7] = (np.max(g.date) - np.min(g.date)) == 0
            
            h = pd.DataFrame(h).T
            
            HP = HP.append(h)
            
        
        OK = OK.append(HP)
    
    
    return(OK)

In [72]:
b[(b.經度==ANS[0,0])&(b.緯度==ANS[0,1])].iloc[:,[0,1,2,3,7,8,10]]

         經度     緯度      海拔高度      順時速度      date   hms  hms_upd
1067  114.0  22.47  8.307018  0.092213  20200101  3953    13959
1069  114.0  22.47  8.307018  0.092213  20200101  3953    13959
1080  114.0  22.47  7.197193  0.000000  20200101  4017    14000
1087  114.0  22.47  8.539677  0.783299  20200101  4030    14000
1088  114.0  22.47  8.539677  0.783299  20200101  4030    14000
...     ...    ...       ...       ...       ...   ...      ...
1623  114.0  22.47  8.883669  0.744484  20200101  5322    14004
1628  114.0  22.47  9.270399  0.000000  20200101  5330    14004
1633  114.0  22.47  8.662783  0.000000  20200101  5338    14004
1636  114.0  22.47  8.489114  0.000000  20200101  5342    14004
1638  114.0  22.47  8.579653  0.695666  20200101  5347    14005

[126 rows x 7 columns]

In [73]:
b = data.groupby("date_upd").get_group(20200101)
b

,經度,緯度,海拔高度,順時速度,方向,時間,上傳時間,date,hms,date_upd,hms_upd
2,120.76,22.41,1489.922836,0.611052,24.681915,1/1/2020 00:00:12+00,1/1/2020 11:52:47.138911+00,20200101,12,20200101,115247
3,121.28,24.05,3012.131743,0.430000,271.757812,1/1/2020 00:00:12+00,1/1/2020 10:23:19.968501+00,20200101,12,20200101,102319
6,121.28,24.05,3011.925690,0.700000,261.562500,1/1/2020 00:00:15+00,1/1/2020 10:23:20.013362+00,20200101,15,20200101,102320
7,121.28,24.18,3420.137303,0.493868,272.590572,1/1/2020 00:00:16+00,1/1/2020 07:03:11.397369+00,20200101,16,20200101,70311
13,120.76,22.41,1484.663330,0.385346,2.281598,1/1/2020 00:00:27+00,1/1/2020 11:52:47.150719+00,20200101,27,20200101,115247
...,...,...,...,...,...,...,...,...,...,...,...
39660,120.94,24.17,701.624291,0.228298,100.886764,1/1/2020 09:38:13+00,1/1/2020 09:42:44.392247+00,20200101,93813,20200101,94244
39663,120.94,24.17,696.878016,0.350004,101.989464,1/1/2020 09:38:42+00,1/1/2020 09:42:44.403566+00,20200101,93842,20200101,94244
39666,120.94,24.17,696.375406,0.778755,100.244945,1/1/2020 09:38:58+00,1/1/2020 09:42:44.41447+00,20200101,93858,20200101,94244
39669,120.94,24.17,694.453021,0.868819,117.360996,1/1/2020 09:39:10+00,1/1/2020 09:42:44.445691+00,20200101,93910,20200101,94244
39671,120.94,24.17,691.279021,0.502189,79.814968,1/1/2020 09:39:28+00,1/1/2020 09:42:44.459323+00,20200101,93928,20200101,94244

In [74]:
h = np.zeros(8)
            
h[0] = np.mean(g.經度)
h[1] = np.mean(g.緯度)
h[2] = np.mean(g.海拔高度)
h[3] = np.mean(g.順時速度)
h[4] = np.mean(g.date)
        
s = (np.max(g.hms) - np.min(g.hms))/100
v = (np.math.floor(s)*60) + ((s-np.math.floor(s))*100)
h[5] = v
h[6] = (np.max(g.hms_upd) - np.min(g.hms_upd)) < 10000
h[7] = (np.max(g.date) - np.min(g.date)) == 0

In [75]:
h = pd.DataFrame(h).T
h

       0      1         2         3           4      5    6    7
0  114.0  22.47  8.646388  1.346063  20200101.0  874.0  1.0  1.0

In [76]:
HP =  pd.DataFrame([])

In [77]:
HP = HP.append(h)

## 1月份客戶的資料

In [78]:
def new_data (data) :
    
    
    #資料前處理
    
    data.經度 = data.經度.round(2)
    data.緯度 = data.緯度.round(2)
    
    e = (data.hms / 10000).apply(np.floor) * 3600
    r = ((data.hms / 10000 - (data.hms / 10000).apply(np.floor) ) * 100) .apply(np.floor) * 60
    t  = (data.hms / 100 - (data.hms / 100) .apply(np.floor)) * 100

    v = e + r + t
    data.hms = v
    
    
    
    # 跑x月的每日
    
    OK =  pd.DataFrame([])
    for i in data.date_upd.unique() :
        b = data.groupby("date_upd").get_group(i)
        a = data.groupby("date_upd").get_group(i)[["經度","緯度"]].groupby(["經度","緯度"])
        
        
        # 找出經緯度去分人
        ANS = np.zeros((len(a),2))
        for j in range(len(a)) :
            ANS[j] = (a.size().index[j])
        
        HP =  pd.DataFrame([])
        
        for k in range(len(ANS)-1) :
            g = b[(b.經度==ANS[k,0])&(b.緯度==ANS[k,1])]
            g = g.iloc[:,[0,1,2,3,7,8,10]]
            
            h = np.zeros(8)
            
            h[0] = np.mean(g.經度)
            h[1] = np.mean(g.緯度)
            h[2] = np.mean(g.海拔高度)
            h[3] = np.mean(g.順時速度)
            h[4] = np.mean(g.date)
        
            h[5] = np.max(g.hms) - np.min(g.hms) 
            if float(h[5]) > 57600 :
                h[5] = 86400 -  float(h[5])
                
            h[6] = (np.max(g.hms_upd) - np.min(g.hms_upd)) < 10000
            h[7] = (np.max(g.date) - np.min(g.date)) <= 1
            
            h = pd.DataFrame(h).T
            
            HP = HP.append(h)
            
        
        OK = OK.append(HP)
    
    
    return(OK)

In [79]:
M = new_data (data)

In [80]:
M.reset_index(inplace=True)
M = M.iloc[:,1:]
M

           0      1            2         3           4        5    6    7
0     121.19  24.56  2026.109073 -1.000000  20200101.0     90.0  1.0  1.0
1     121.19  24.57  2020.067666 -1.000000  20200101.0   3644.0  1.0  1.0
2     121.20  24.55  1713.756464 -1.000000  20200101.0      0.0  1.0  1.0
3     121.20  24.56  1864.853590 -1.000000  20200101.0   4100.0  1.0  1.0
4     121.20  24.57  2024.751624 -1.000000  20200101.0   3709.0  1.0  1.0
...      ...    ...          ...       ...         ...      ...  ...  ...
5910  121.57  25.03   103.774607  0.210046  20200131.0   6042.0  1.0  1.0
5911  120.24  23.00    26.856929  9.235782  20200131.0     54.0  1.0  1.0
5912  120.24  23.01    31.578529  5.217783  20200131.0   1319.0  1.0  1.0
5913  120.25  22.99    11.939002  1.848566  20200131.0    555.0  1.0  1.0
5914  120.25  23.00    12.894910  2.681142  20200131.0  10847.0  1.0  1.0

[5915 rows x 8 columns]

In [81]:
M.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]

In [82]:
M

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,121.19,24.56,2026.109073,-1.000000,20200101.0,90.0,1.0,1.0
1,121.19,24.57,2020.067666,-1.000000,20200101.0,3644.0,1.0,1.0
2,121.20,24.55,1713.756464,-1.000000,20200101.0,0.0,1.0,1.0
3,121.20,24.56,1864.853590,-1.000000,20200101.0,4100.0,1.0,1.0
4,121.20,24.57,2024.751624,-1.000000,20200101.0,3709.0,1.0,1.0
...,...,...,...,...,...,...,...,...
5910,121.57,25.03,103.774607,0.210046,20200131.0,6042.0,1.0,1.0
5911,120.24,23.00,26.856929,9.235782,20200131.0,54.0,1.0,1.0
5912,120.24,23.01,31.578529,5.217783,20200131.0,1319.0,1.0,1.0
5913,120.25,22.99,11.939002,1.848566,20200131.0,555.0,1.0,1.0
5914,120.25,23.00,12.894910,2.681142,20200131.0,10847.0,1.0,1.0

In [83]:
M[M.上傳時間是否相近==0]

#意味著這些人 可能上傳時間差到一小時

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
128,121.50,25.16,489.632985,0.688497,2.020010e+07,18607.0,0.0,1.0
131,121.51,25.17,833.684121,0.351435,2.020010e+07,14198.0,0.0,1.0
133,121.52,25.17,892.032526,0.499791,2.020010e+07,5656.0,0.0,1.0
137,121.55,25.17,1023.275657,0.594147,2.020010e+07,16294.0,0.0,1.0
140,121.56,25.17,872.746020,0.490394,2.020010e+07,19847.0,0.0,1.0
...,...,...,...,...,...,...,...,...
5320,120.93,23.46,3033.823894,0.443094,2.020013e+07,1712.0,0.0,0.0
5321,120.93,23.47,3063.498286,0.381391,2.020013e+07,29092.0,0.0,1.0
5323,120.94,23.47,3215.457145,0.351191,2.020013e+07,32527.0,0.0,1.0
5324,120.95,23.47,3376.088565,0.371918,2.020013e+07,35.0,0.0,1.0
5441,120.27,22.65,105.201505,0.632550,2.020012e+07,8768.0,0.0,1.0

In [84]:
M[M.是否同一天攀爬==0]


#意味著這些人 可能攀爬日期相差2天以上 (過夜?)

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
22,121.52,25.06,14.613532,2.094215,2.020011e+07,22992.0,1.0,0.0
24,121.52,25.08,13.446730,5.200656,2.020011e+07,19452.0,1.0,0.0
27,121.53,25.08,59.620976,2.283185,2.020012e+07,19386.0,1.0,0.0
28,121.53,25.09,11.828410,4.551143,2.020011e+07,20430.0,1.0,0.0
79,121.30,24.42,2761.301953,0.642823,2.020010e+07,15589.0,1.0,0.0
...,...,...,...,...,...,...,...,...
5554,120.89,24.67,12.088539,20.775255,2.020013e+07,15927.0,1.0,0.0
5558,120.90,24.68,19.554067,13.195650,2.020012e+07,15771.0,1.0,0.0
5559,120.90,24.69,24.655166,0.614889,2.020013e+07,14440.0,1.0,0.0
5560,120.91,24.68,24.241452,21.693245,2.020013e+07,14851.0,1.0,0.0
5563,120.95,24.54,802.508402,0.307985,2.020013e+07,7566.0,1.0,0.0

## 2月份客戶的資料

In [85]:
data2 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/2月.txt",sep=" ",encoding='ANSI')

In [86]:
M2 = new_data (data2)
M2.reset_index(inplace=True)
M2 = M2.iloc[:,1:]
M2.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M2

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,120.64,22.65,478.558629,0.474541,20200201.0,28724.0,1.0,1.0
1,120.64,22.88,183.400050,1.011613,20200201.0,25029.0,1.0,1.0
2,120.65,22.65,665.351908,0.881259,20200201.0,16869.0,1.0,1.0
3,120.65,22.66,734.115829,0.578899,20200201.0,16782.0,1.0,1.0
4,120.65,22.87,450.438540,0.957482,20200201.0,23209.0,1.0,1.0
...,...,...,...,...,...,...,...,...
6723,120.93,24.17,640.080245,10.101901,20200229.0,71.0,1.0,1.0
6724,120.93,24.18,606.326656,14.408535,20200229.0,51.0,1.0,1.0
6725,120.73,24.36,348.452964,-1.000000,20200229.0,1763.0,1.0,1.0
6726,120.73,24.37,471.695190,-1.000000,20200229.0,549.0,1.0,1.0
6727,120.70,22.61,1202.005224,0.350000,20200229.0,0.0,1.0,1.0

## 3月份客戶的資料

In [87]:
data3 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/3月.txt",sep=" ",encoding='ANSI')
M3 = new_data (data3)

M3.reset_index(inplace=True)
M3 = M3.iloc[:,1:]

M3.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M3

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,120.73,24.37,546.655223,-1.000000,2.020030e+07,1935.0,1.0,1.0
1,120.73,24.38,562.007388,-1.000000,2.020030e+07,1769.0,1.0,1.0
2,120.74,24.36,242.310056,-1.000000,2.020030e+07,806.0,1.0,1.0
3,120.74,24.37,352.280993,-1.000000,2.020030e+07,1195.0,1.0,1.0
4,120.74,24.38,471.066677,-1.000000,2.020030e+07,367.0,1.0,1.0
...,...,...,...,...,...,...,...,...
8303,120.75,22.62,2761.262156,0.638451,2.020033e+07,23.0,1.0,1.0
8304,120.76,22.62,2974.511613,0.645816,2.020033e+07,9901.0,1.0,1.0
8305,120.95,24.23,1801.347211,1.846070,2.020033e+07,914.0,1.0,1.0
8306,120.95,24.24,1974.644839,1.293924,2.020033e+07,10977.0,1.0,1.0
8307,120.96,24.24,1992.436443,0.369737,2.020033e+07,3698.0,1.0,1.0

## 4月份客戶的資料

In [88]:
data4 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/4月.txt",sep=" ",encoding='ANSI')
M4 = new_data (data4)

M4.reset_index(inplace=True)
M4 = M4.iloc[:,1:]

M4.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M4

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,120.70,22.61,1185.283354,0.844523,2.020042e+07,20771.0,1.0,1.0
1,120.70,22.62,1347.767788,0.664523,2.020042e+07,19801.0,1.0,1.0
2,120.71,22.62,1494.273120,0.712542,2.020042e+07,14246.0,1.0,1.0
3,120.72,22.62,1580.034872,0.677528,2.020042e+07,7769.0,1.0,1.0
4,120.73,22.62,1781.609345,0.629693,2.020042e+07,4042.0,1.0,1.0
...,...,...,...,...,...,...,...,...
10869,120.94,23.47,3214.534269,0.639690,2.020043e+07,3495.0,1.0,1.0
10870,121.74,24.83,191.657898,1.004471,2.020043e+07,1663.0,1.0,1.0
10871,121.74,24.84,336.905960,0.877013,2.020043e+07,1050.0,1.0,1.0
10872,121.74,24.83,172.826505,0.965281,2.020043e+07,1624.0,1.0,1.0
10873,121.74,24.84,333.398692,0.933217,2.020043e+07,989.0,1.0,1.0

## 5月份客戶的資料

In [89]:
data5 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/5月.txt",sep=" ",encoding='ANSI')
M5 = new_data (data5)

M5.reset_index(inplace=True)
M5 = M5.iloc[:,1:]

M5.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M5

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,114.21,22.39,43.625298,0.659404,20200524.0,2832.0,1.0,1.0
1,114.22,22.39,294.988971,0.859163,20200524.0,2320.0,1.0,1.0
2,114.22,22.41,22.099149,0.860272,20200524.0,200.0,1.0,1.0
3,114.23,22.39,203.883494,0.764467,20200524.0,10573.0,1.0,1.0
4,114.23,22.40,118.130660,1.047533,20200524.0,1952.0,1.0,1.0
...,...,...,...,...,...,...,...,...
10156,120.49,22.89,140.875110,0.634421,20200531.0,5780.0,1.0,1.0
10157,120.49,22.90,98.092966,0.913142,20200531.0,834.0,1.0,1.0
10158,120.50,22.89,175.983481,1.013855,20200531.0,1.0,1.0,1.0
10159,121.34,24.39,2155.892308,-1.000000,20200531.0,595.0,1.0,1.0
10160,121.34,24.39,2155.892308,-1.000000,20200531.0,595.0,1.0,1.0

## 6月份客戶的資料

In [90]:
data6 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/6月.txt",sep=" ",encoding='ANSI')
M6 = new_data (data6)

M6.reset_index(inplace=True)
M6 = M6.iloc[:,1:]

M6.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M6

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,121.02,24.92,45.160889,-1.000000,2.020063e+07,0.0,1.0,1.0
1,121.23,24.38,3828.228162,0.293477,2.020062e+07,5266.0,1.0,1.0
2,121.24,24.38,3740.536273,0.289778,2.020062e+07,5928.0,1.0,1.0
3,121.24,24.39,3497.160644,0.239513,2.020062e+07,17994.0,1.0,1.0
4,121.25,24.39,3268.441476,0.551040,2.020062e+07,20.0,1.0,1.0
...,...,...,...,...,...,...,...,...
11607,121.34,24.58,1594.872871,0.808541,2.020063e+07,14893.0,1.0,1.0
11608,121.35,24.57,1540.949007,0.951131,2.020063e+07,11545.0,1.0,1.0
11609,121.35,24.58,1544.054378,0.688898,2.020063e+07,12725.0,1.0,1.0
11610,121.36,24.57,1591.401689,0.861111,2.020063e+07,8188.0,1.0,1.0
11611,121.37,24.57,1621.495618,0.792823,2.020063e+07,5402.0,1.0,1.0

## 7月份客戶的資料

In [91]:
data7 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/7月.txt",sep=" ",encoding='ANSI')
M7 = new_data (data7)

M7.reset_index(inplace=True)
M7 = M7.iloc[:,1:]

M7.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M7

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,120.51,23.31,817.852051,0.314834,20200718.0,8978.0,1.0,1.0
1,120.51,23.32,573.340129,0.575775,20200718.0,16019.0,1.0,1.0
2,120.51,23.33,479.585452,1.004381,20200718.0,252.0,1.0,1.0
3,120.52,23.31,987.137060,0.388105,20200718.0,9969.0,1.0,1.0
4,120.52,23.32,709.331887,0.434323,20200718.0,11699.0,1.0,1.0
...,...,...,...,...,...,...,...,...
12358,121.61,24.16,147.649517,0.681931,20200731.0,7791.0,1.0,1.0
12359,121.61,24.17,88.832765,1.070149,20200731.0,5120.0,1.0,1.0
12360,121.62,24.16,86.230888,0.730754,20200731.0,9993.0,1.0,1.0
12361,121.28,24.18,3341.686854,-1.000000,20200731.0,96.0,1.0,1.0
12362,121.29,24.17,3115.827137,-1.000000,20200731.0,5003.0,1.0,1.0

## 8月份客戶的資料

In [92]:
data8 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/8月.txt",sep=" ",encoding='ANSI')
M8 = new_data (data8)

M8.reset_index(inplace=True)
M8 = M8.iloc[:,1:]

M8.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M8

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,114.14,22.27,413.838395,0.813650,20200829.0,4994.0,1.0,1.0
1,114.14,22.28,237.471806,0.758455,20200829.0,7456.0,1.0,1.0
2,114.15,22.27,323.253808,0.512131,20200829.0,2850.0,1.0,1.0
3,114.15,22.28,366.159038,0.642490,20200829.0,3588.0,1.0,1.0
4,114.16,22.25,17.960525,0.993854,20200829.0,2794.0,1.0,1.0
...,...,...,...,...,...,...,...,...
11456,121.27,24.12,3105.127803,1.139017,20200830.0,353.0,1.0,1.0
11457,121.27,24.13,3198.231529,1.486832,20200830.0,5884.0,1.0,1.0
11458,121.27,24.14,3334.034790,1.751292,20200830.0,4386.0,1.0,1.0
11459,121.28,24.14,3246.203503,2.075284,20200830.0,9372.0,1.0,1.0
11460,121.28,24.15,3174.451121,0.949500,20200830.0,2704.0,1.0,1.0

## 9月份客戶的資料

In [93]:
data9 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/9月.txt",sep=" ",encoding='ANSI')
M9 = new_data (data9)

M9.reset_index(inplace=True)
M9 = M9.iloc[:,1:]

M9.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M9

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,120.61,24.11,51.587856,-1.000000,20200914.0,47.0,1.0,1.0
1,120.61,24.19,129.346085,0.468811,20200901.0,0.0,1.0,1.0
2,120.68,22.88,316.254975,0.665607,20200913.0,1163.0,1.0,1.0
3,120.68,22.89,268.768515,0.639870,20200913.0,3163.0,1.0,1.0
4,120.79,23.66,1287.679642,0.203311,20200913.0,1334.0,1.0,1.0
...,...,...,...,...,...,...,...,...
11170,121.42,24.82,1165.924751,0.377500,20200926.0,110.0,1.0,1.0
11171,121.01,24.51,2117.382498,0.219855,20200929.0,7296.0,1.0,1.0
11172,121.01,24.52,1973.731315,0.228812,20200929.0,11229.0,1.0,1.0
11173,121.02,24.52,1639.267937,0.139315,20200929.0,24038.0,1.0,1.0
11174,121.78,24.84,241.841628,0.995649,20200930.0,648.0,1.0,1.0

## 10月份客戶的資料

In [94]:
data10 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/10月.txt",sep=" ",encoding='ANSI')
M10 = new_data (data10)

M10.reset_index(inplace=True)
M10 = M10.iloc[:,1:]

M10.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M10

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,121.18,23.95,1209.049038,0.978840,20201005.0,1515.0,1.0,1.0
1,121.19,23.94,1265.530344,0.955851,20201005.0,2997.0,1.0,1.0
2,121.19,23.95,1215.651555,0.949657,20201005.0,1917.0,1.0,1.0
3,121.20,23.94,1484.045289,0.833667,20201005.0,2899.0,1.0,1.0
4,121.21,23.91,1477.604443,1.021905,20201005.0,573.0,1.0,1.0
...,...,...,...,...,...,...,...,...
17742,121.57,24.68,752.043293,0.444982,20201031.0,1814.0,1.0,1.0
17743,121.58,24.67,522.799082,0.812157,20201031.0,2015.0,1.0,1.0
17744,121.58,24.68,585.210671,0.910442,20201031.0,2760.0,1.0,1.0
17745,121.59,24.66,161.732699,0.545605,20201031.0,0.0,1.0,1.0
17746,121.59,24.67,292.294295,0.871092,20201031.0,3541.0,1.0,1.0

## 11月份客戶的資料

In [95]:
data11 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/11月.txt",sep=" ",encoding='ANSI')
M11 = new_data (data11)

M11.reset_index(inplace=True)
M11 = M11.iloc[:,1:]

M11.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M11

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,114.01,22.29,67.684975,0.810483,20201102.0,4129.0,1.0,1.0
1,114.01,22.30,122.542411,0.936479,20201102.0,4063.0,1.0,1.0
2,120.26,22.64,328.677508,1.154706,20201104.0,2867.0,1.0,1.0
3,120.26,22.65,290.147370,0.816044,20201104.0,9668.0,1.0,1.0
4,120.27,22.64,298.698133,0.841707,20201104.0,305.0,1.0,1.0
...,...,...,...,...,...,...,...,...
13974,121.36,24.96,177.398478,0.354569,20201129.0,9095.0,1.0,1.0
13975,121.36,24.97,226.500964,0.450450,20201129.0,3557.0,1.0,1.0
13976,120.62,23.94,259.063271,0.560542,20201129.0,1983.0,1.0,1.0
13977,120.63,23.94,364.684517,0.724806,20201129.0,1516.0,1.0,1.0
13978,120.64,23.93,409.837390,0.445897,20201129.0,2155.0,1.0,1.0

## 12月份客戶的資料

In [96]:
data12 = pd.read_table("C:/Users/s0970/OneDrive/桌面/數據比賽/爬山data/12月.txt",sep=" ",encoding='ANSI')
M12 = new_data (data12)

M12.reset_index(inplace=True)
M12 = M12.iloc[:,1:]

M12.columns = ["經度","緯度","平均海拔","平均速度","定位日期","爬山時長(秒)","上傳時間是否相近","是否同一天攀爬"]
M12

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,120.60,23.53,554.902226,0.389159,20201201.0,1420.0,1.0,1.0
1,120.60,23.54,589.283593,0.377484,20201201.0,21832.0,1.0,1.0
2,120.61,23.53,679.153297,0.484711,20201201.0,32.0,1.0,1.0
3,120.61,23.54,748.415067,0.360062,20201201.0,5955.0,1.0,1.0
4,120.89,24.62,45.258886,0.754077,20201201.0,362.0,1.0,1.0
...,...,...,...,...,...,...,...,...
12828,120.48,23.04,119.485645,12.777760,20201230.0,136.0,1.0,1.0
12829,120.49,23.03,265.409650,9.466589,20201230.0,51.0,1.0,1.0
12830,120.49,23.04,211.722800,9.217844,20201230.0,153.0,1.0,1.0
12831,120.50,23.03,460.426807,2.879406,20201230.0,7381.0,1.0,1.0
12832,120.51,23.03,712.284338,1.029853,20201230.0,686.0,1.0,1.0

## 最後將12個月的資料作合併

In [98]:
haha = pd.concat([M,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12],axis=0)

In [99]:
haha.reset_index(inplace=True)
haha = haha.iloc[:,1:]

In [100]:
haha

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
0,121.19,24.56,2026.109073,-1.000000,20200101.0,90.0,1.0,1.0
1,121.19,24.57,2020.067666,-1.000000,20200101.0,3644.0,1.0,1.0
2,121.20,24.55,1713.756464,-1.000000,20200101.0,0.0,1.0,1.0
3,121.20,24.56,1864.853590,-1.000000,20200101.0,4100.0,1.0,1.0
4,121.20,24.57,2024.751624,-1.000000,20200101.0,3709.0,1.0,1.0
...,...,...,...,...,...,...,...,...
133151,120.48,23.04,119.485645,12.777760,20201230.0,136.0,1.0,1.0
133152,120.49,23.03,265.409650,9.466589,20201230.0,51.0,1.0,1.0
133153,120.49,23.04,211.722800,9.217844,20201230.0,153.0,1.0,1.0
133154,120.50,23.03,460.426807,2.879406,20201230.0,7381.0,1.0,1.0
133155,120.51,23.03,712.284338,1.029853,20201230.0,686.0,1.0,1.0

In [103]:
haha[(haha["爬山時長(秒)"]>3600 )&( haha["上傳時間是否相近"] == 1)]

,經度,緯度,平均海拔,平均速度,定位日期,爬山時長(秒),上傳時間是否相近,是否同一天攀爬
1,121.19,24.57,2020.067666,-1.000000,20200101.0,3644.0,1.0,1.0
3,121.20,24.56,1864.853590,-1.000000,20200101.0,4100.0,1.0,1.0
4,121.20,24.57,2024.751624,-1.000000,20200101.0,3709.0,1.0,1.0
6,121.21,24.56,1769.660735,-1.000000,20200101.0,4387.0,1.0,1.0
11,121.23,24.56,1336.641406,-1.000000,20200101.0,5854.0,1.0,1.0
...,...,...,...,...,...,...,...,...
133062,120.50,22.90,282.787946,0.339306,20201227.0,4817.0,1.0,1.0
133064,120.51,22.90,135.489370,0.946045,20201227.0,12934.0,1.0,1.0
133067,121.26,24.82,293.068139,0.329036,20201227.0,14651.0,1.0,1.0
133069,121.27,24.82,448.660556,0.279402,20201227.0,6663.0,1.0,1.0
133154,120.50,23.03,460.426807,2.879406,20201230.0,7381.0,1.0,1.0

In [106]:
haha.to_csv("hi.csv")